@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Type */

body,
input,
select,
textarea {
    color: _palette(fg);
    font-family: _font(family);
    font-size: 16pt;
    font-weight: _font(weight);
    letter-spacing: _font(letter-spacing);
    line-height: 1.65em;
    @include breakpoint(xlarge) {
        font-size: 12pt;
    }
    @include breakpoint(large) {
        font-size: 11pt;
    }
    @include breakpoint(medium) {
        font-size: 12pt;
    }
    @include breakpoint(small) {
        font-size: 12pt;
    }
    @include breakpoint(xsmall) {
        font-size: 12pt;
    }
}
a {
    @include vendor('transition', ( 'border-bottom-color #{_duration(transition)} ease', 'color #{_duration(transition)} ease'));
    border-bottom: dotted 1px _palette(border2);
    color: _palette(accent, bg);
    text-decoration: none;
    &:hover {
        border-bottom-color: transparent;
        color: _palette(accent, bg) !important;
        text-decoration: none;
    }
}
strong,
b {
    color: _palette(fg-bold);
    font-weight: _font(weight-bold);
}
em,
i {
    font-style: italic;
}
p {
    margin: 0 0 _size(element-margin) 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: _palette(fg-bold);
    font-weight: _font(weight-bold);
    line-height: 1em;
    margin: 0 0 (_size(element-margin) * 0.5) 0;
    a {
        color: inherit;
        text-decoration: none;
    }
}
h1 {
    font-size: 2.5em;
    line-height: 1.25em;
}
h2 {
    font-size: 1.75em;
    line-height: 1.5em;
}
h3 {
    font-size: 1.35em;
    line-height: 1.5em;
}
h4 {
    font-size: 1.1em;
    line-height: 1.5em;
}
h5 {
    font-size: 0.9em;
    line-height: 1.5em;
}
h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}
sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}
sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}
blockquote {
    border-left: solid (_size(border-width) * 4) _palette(border);
    font-style: italic;
    margin: 0 0 _size(element-margin) 0;
    padding: (_size(element-margin) / 4) 0 (_size(element-margin) / 4) _size(element-margin);
}
code {
    background: _palette(border-bg);
    border-radius: _size(border-radius);
    border: solid _size(border-width) _palette(border);
    font-family: _font(family-fixed);
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}
pre {
    -webkit-overflow-scrolling: touch;
    font-family: _font(family-fixed);
    font-size: 0.9em;
    margin: 0 0 _size(element-margin) 0;
    code {
        display: block;
        line-height: 1.75em;
        padding: 1em 1.5em;
        overflow-x: auto;
    }
}
hr {
    border: 0;
    border-bottom: solid _size(border-width) _palette(border);
    margin: _size(element-margin) 0;
    &.major {
        margin: (_size(element-margin) * 1.5) 0;
    }
}
