//out: ../css/style.css, compress: true
@import url(global.less);
@primary : #165ba6;
@sec: #0b3c91;
@title : #13293D;
@biggrey: #F7F7F7;
@bordercolor: #ccc;
@headtitle: #444651;
@orange-btn: #e58510;
.shadow {
	-webkit-box-shadow: 0px 6px 37px -19px rgba(0, 0, 0, 0.49);
	-moz-box-shadow: 0px 6px 37px -19px rgba(0, 0, 0, 0.49);
	box-shadow: 0px 6px 37px -19px rgba(0, 0, 0, 0.49);
}

body {
	background: @biggrey;
}

header {
	width: 100%;
	color: #fff;
	padding: 20px;
	background: @primary;
	h3 {
		font-size: 30px;
	}
	.logo {
		img {
			max-width: 200px;
			background-repeat: no-repeat;
		}
	}
	nav {
		li {
			display: inline-block;
			margin-right: 20px;
			padding-top: 15px;
			a {
				color: #fff;
				font-size: 14px;
				&:hover {
					color: @link-color;
				}
				&.lbutton {
					border: 1px solid white;
					padding: 6px 16px;
					.transition;
					&:hover {
						background: #fff;
						color: @primary;
					}
				}
			}
		}
	}
}

#hero {
	height: 350px;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/header_bg.jpg) no-repeat;
	background-size: cover;
	background-position: 50%;
	@media @mobile {
		height: 290px;
	}
	@media @tablet {
		height: 300px;
	}
	.blurb {
		text-align: center;
		margin-top: 70px;
		@media @mobile {
			margin-top: 40px;
		}
		color: #fff;
		h3 {
			font-size: 65px;
			@media @mobile {
				font-size: 35px;
				margin-top: 40px;
			}
			@media @tablet {
				font-size: 35px;
				margin-top: 40px;
			}
		}
		p {
			padding-top: 10px;
			margin-bottom: 20px;
			font-size: 19px;
			@media @mobile {
				font-size: 16px;
			}
		}
		a {
			font-size: 15px;
			border: 2px solid @orange-btn;
			border-radius: 3px;
			padding: 10px 20px;
			margin-top: 30px;
			color: #fff;
			background: #e58510;
			.transition;
			&:hover {
				background: @primary;
				border: 2px solid @primary;
			}
		}
	}
}

.banner {
	padding: 30px 15px 15px;
}

#search {
	padding: 15px;
}

//RESULTS
#results,
#viewresults {
	padding-top: 30px;
	padding-bottom: 40px;
	.select {
		padding: 15px;
		margin-bottom: 3px;
		li {
			display: inline;
			margin-right: 30px;
			a {
				font-size: 20px;
				text-transform: uppercase;
				font-weight: 600;
				padding-bottom: 5px;
				color: @headtitle;
				&.active {
					border-bottom: 4px solid @sec;
				}
			}
		}
	}
	.listing {
		border: 1px solid @bordercolor;
		border-bottom: 0;
		margin-bottom: 20px;
		background: #fff;
		.header {
			h4 {
				padding: 20px 30px;
				font-size: 20px;
				color: @headtitle;
				text-transform: uppercase;
			}
		}
		.bid {
			min-height: 110px;
			padding: 20px 30px;
			border-bottom: 1px solid @bordercolor;
			.transition;
			&:hover {
				background: @biggrey;
			}
			.list-title {
				a {
					h5 {
						font-size: 20px;
						font-weight: 600;
						line-height: 130%;
						color: @title;
					}
				}
			}
		}
		.bottom-list {
			li {
				display: inline;
				margin-right: 10px;
				font-size: 13px;
				.fa {
					margin-right: 3px;
					color: @primary;
				}
			}
		}
		//FOR VIEW ALERTS
		.tags {
			ul {
				padding: 10px 0;
				li {
					padding: 4px 8px;
					border: 1px solid @bordercolor;
					border-radius: 2px;
					margin-bottom: 10px;
				}
			}
			span {
				font-size: 13px;
				.fa {
					margin-right: 5px;
				}
			}
		}
		.sline {
			width: 100%;
			height: 1px;
			margin-bottom: 0px;
			background: @bordercolor;
		}
	}
	//SETUPALERTS 
	.setup {
		background: #fff;
		border: 1px solid @bordercolor;
		padding: 30px;
		label {
			font-weight: normal;
			font-size: 15px;
		}
		.sectors {
			label {
				margin-right: 10px;
			}
		}
	}
	//PROFILE BOX ON DASHBOARD
	.profile {
		background: #fff;
		padding: 30px;
		border: 1px solid @bordercolor;
		font-size: 15px;
		li {
			display: inline;
		}
		.header {
			border-bottom: 1px solid @bordercolor;
			padding-bottom: 5px;
		}
		.user {
			padding-top: 5px;
			li {
				&:nth-child(1) {
					font-weight: bold;
					margin-right: 5px;
				}
			}
		}
		.interest {
			padding-bottom: 5px;
			p {
				padding-top: 20px;
				border-bottom: 1px solid @bordercolor;
			}
		}
		.emailalerts {
			padding-top: 20px;
			p {
				border-bottom: 1px solid @bordercolor;
			}
			ul {
				padding-top: 5px;
			}
			li {
				display: inline;
				a {
					border: 1px solid @primary;
					padding: 8px 16px;
					.transition;
					&:hover {
						color: #fff !important;
						background: @primary;
						color: @primary;
					}
				}
			}
		}
	}
}

#viewresults {
	.resultcount {
		p {
			font-size: 15px;
			margin-left: 33px;
		}
	}
	.listing {
		.bid {
			.list-title {
				a {
					h5 {
						font-size: 23px;
						color: @title;
					}
				}
			}
		}
		.bottom-list ul {
			li {
				display: inline;
				margin-right: 20px;
				font-size: 13px;
				.fa {
					margin-right: 3px;
					color: @primary;
				}
			}
		}
	}
}

.setalert {
	padding: 0 20px;
	.header {
		h4 {
			padding: 20px 20px;
			font-size: 20px;
			color: @headtitle;
			text-transform: uppercase;
			bottom-border: 1px solid @bordercolor;
		}
	}
}

.button {
	padding-bottom: 30px;
	a {
		display: inline-block;
		font-size: 14px;
		border: 1px solid @primary;
		border-radius: 2px;
		padding: 5px 20px;
		text-align: center;
		font-weight: 600;
		color: #fff;
		background: @primary;
		.transition;
		&:hover {
			background: @sec;
			color: #fff;
			border: 1px solid @sec;
		}
		&.searchbtn {
			margin-left: 5px;
			width: 150px;
		}
		&.full {
			text-align: center;
			width: 100%;
		}
	}
}

//DETAILS
#view {
	padding-bottom: 40px;
	.back {
		margin: 10px 0;
		font-size: 15px;
		.fa {
			margin-right: 5px;
		}
	}
	.listing {
		background: #fff;
		padding: 27px 40px 40px;
		.shadow;
		.sector {
			a {
				font-size: 14px;
			}
		}
		.bidname {
			margin-top: 10px;
			h3 {
				font-size: 32px;
				font-weight: 600;
			}
		}
		.share {
			margin-top: 10px;
			li {
				display: inline;
				font-size: 14px;
				margin-right: 7px;
				.fa {
					margin-right: 3px;
					font-size: 12px;
				}
			}
		}
		.tidbit {
			padding-top: 10px;
			li {
				display: inline-block;
				margin-right: 15px;
				font-size: 14px;
				span {
					font-weight: bold;
				}
			}
		}
		.dl-options {
			padding-top: 10px;
			li {
				display: inline;
				text-transform: uppercase;
				font-size: 14px;
				margin-right: 10px;
				a {
					.icons {
						height: 30px;
					}
				}
			}
		}
		.bidder-info {
			padding-top: 15px;
			.info {
				font-weight: 600;
			}
		}
	}
	.sidebar {
		margin-top: 41px;
		.ad {
			width: 360px;
			height: 250px;
			overflow: hidden;
			background-size: cover !important;
			margin-bottom: 20px;
		}
	}
	.similar {
		margin-top: 25px;
		padding: 20px 20px 10px 20px;
		background: #fff;
		.shadow;
		h4 {
			padding-bottom: 10px;
		}
		li {
			display: block;
			font-size: 15px;
			padding-bottom: 15px;
			span {
				padding-left: 15px;
			}
			.fa {
				float: left;
				margin-top: 4px;
				margin-right: 5px;
				font-size: 12px;
			}
		}
	}
}

//PRICING
#pricing {
	padding: 40px;
	.topblurb {
		margin-top: 50px;
		margin-bottom: 30px;
		h3 {
			font-size: 50px;
			text-align: center;
			font-weight: 100;
			margin-bottom: 30px;
		}
	}
	.pricebox {
		background: #fff;
		border: 2px solid @bordercolor;
		min-height: 470px;
		margin-bottom: 30px;
		.header {
			text-align: center;
			padding: 20px 30px;
			span {
				font-size: 13px;
				font-weight: bold;
				text-transform: uppercase;
			}
			h3 {
				font-size: 45px;
				font-weight: 300;
				margin: 10px 0;
				color: @primary;
				@media @tablet {
					font-size: 35px;
				}
			}
		}
		.content {
			border-top: 2px solid @bordercolor;
			padding: 30px 10px;
			padding: 30px 10px;
			ul {
				padding-left: 10px;
				margin-bottom: 10px;
				li {
					display: inline;
					.fa {
						color: @primary;
						font-size: 12px;
						margin-right: 5px;
					}
				}
			}
			.actbutton {
				text-align: center;
				margin-top: 40px;
				margin-bottom: 10px;
				a {
					border: 1px solid @bordercolor;
					padding: 15px 30px;
					color: inherit;
					.transition;
					&:hover {
						color: #fff;
						background: @primary;
						border: 1px solid @primary;
					}
				}
				&.first {
					margin-top: 74px;
				}
			}
		}
	}
	.nopad {
		padding: 5px;
	}
}

#conversion {
	padding: 0 40px 40px;
	.notsure {
		padding: 40px;
		padding-top: 0;
		text-align: center;
		h3 {
			font-size: 32px;
			font-weight: 200;
		}
		p {
			padding-top: 10px;
		}
	}
	.info {
		.fa {
			font-size: 35px;
			color: @primary;
		}
		background: #fff;
		text-align: center;
		padding: 30px 30px 0;
		margin: 10px 0 40px;
		min-height: 300px;
		border: 1px solid @bordercolor;
		h4 {
			font-size: 25px;
			font-weight: 300;
			margin: 10px 0;
		}
		p {
			font-size: 15px;
		}
	}
}

#quest {
	padding: 20px;
	h3 {
		font-size: 35px;
		font-weight: 300;
		text-align: center;
		padding-bottom: 20px;
		cursor: pointer;
	}
	.ans {
		padding: 10px 0;
		h4 {
			font-size: 18px;
			font-weight: 600;
			padding-bottom: 5px;
		}
		p {
			text-align: justify;
		}
	}
	summary::-webkit-details-marker,
	-moz-details-marker {
		font-size: 0;
	}
}

//SIGN UP PAGE
#signup {
	padding: 30px;
	@media @mobile {
		padding: 15px 10px;
	}
	.topblurb {
		margin-top: 30px;
		text-align: center;
		h3 {
			font-size: 40px;
			font-weight: 300;
			margin-bottom: 10px;
		}
		P {
			font-size: 17px;
		}
	}
	.signupform {
		background: #fff;
		padding: 60px 100px 30px;
		margin-top: 30px;
		border-radius: 5px;
		border: 1px solid @bordercolor;
		@media @mobile {
			padding: 15px;
			margin: 20px 0;
		}
		form {
			label {
				font-weight: 400;
			}
		}
	}
}

//CONFIRM
#confirm {
	min-height: 80%;
	text-align: center;
	margin-top: 50px;
	._box {
		background: #fff;
		border-radius: 5px;
		border: 1px solid @bordercolor;
		padding: 50px;
		h3 {
			font-size: 30px;
			font-weight: 300;
			margin-bottom: 10px;
		}
		p {
			padding-bottom: 10px;
		}
	}
}

//DASHBOARD
//EDIT PROFILE
.search {
	padding: 40px 10px 30px;
	.sml {
		padding: 0 5px 5px;
	}
}

#editprofile {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	._box {
		background: #fff;
		border-radius: 5px;
		border: 1px solid @bordercolor;
		padding: 30px;
		h3 {
			font-size: 30px;
			font-weight: 300;
			margin-bottom: 20px;
		}
		ul {
			li {
				display: inline;
				padding-left: 10px;
			}
		}
	}
}

//ABOUT PAGE
#about {
	min-height: 80%;
	.content {
		background: #fff;
		padding: 40px;
		margin: 50px 0;
		h3 {
			font-size: 50px;
			font-weight: 300;
			margin-bottom: 10px;
		}
		h4 {
			font-size: 30px;
			font-weight: 200;
			margin-top: 30px;
		}
		.fa {
			padding-right: 10px;
		}
	}
}

//HOW IT WORKS
#how {
	background: #fff;
	padding: 50px 35px 25px;
	.content {
		margin-bottom: 30px;
		h4 {
			font-size: 40px;
			font-weight: 300;
			padding-bottom: 10px;
		}
		p {
			font-size: 19px;
		}
	}
	.guide {
		._step {
			padding: 40px 0;
			.info {
				.digit {
					//position: absolute;
					//top: 7px;
					//left: 0px;
					width: 50px;
					height: 50px;
					text-align: center;
					padding-top: 14px;
					border-radius: 50%;
					font-size: 16px;
					font-weight: 400;
					border: 1px solid @primary;
					color: #fff;
					background: @primary;
					margin-bottom: 5px;
				}
				p {
					left: 70px;
					font-size: 23px;
					font-weight: 300;
					@media @mobile {
						padding-top: 15px;
					}
				}
			}
			.screenshot {
				max-width: 630px;
				height: 300px;
				border: 1px solid #efefef;
				border-radius: 5px;
				overflow: hidden;
				background-size: cover !important;
				background-repeat: no-repeat !important;
			}
		}
	}
}

#next {
	background: #fff;
	padding: 25px 35px 50px;
	.what {
		h4 {
			font-size: 35px;
			font-weight: 300;
			padding-bottom: 10px;
		}
		p {
			font-size: 19px;
		}
	}
}

//PREQUALIFY
#prequalify {
	padding: 35px 40px;
	h4 {
		font-size: 40px;
		font-weight: 300;
		padding: 0 15px 15px;
		padding-bottom: 20px;
	}
	.wrapper {
		height: 380px;
		padding: 60px;
		text-align: center;
		border: 2px solid @bordercolor;
		.intro-text {
			height: 150px;
			font-size: 27px;
			font-weight: 600;
			padding-bottom: 20px;
		}
		p {
			font-size: 19px;
			padding-bottom: 20px;
		}
		a {
			font-size: 20px;
			border: 1px solid @primary;
			padding: 10px 20px;
			.transition;
			&:hover {
				background: @primary;
				color: #fff;
			}
		}
	}
}

//WRITE MY BID
#writebid {
	padding-bottom: 50px;
	.write-wrap {
		padding: 40px 30px;
		@media @mobile {
			padding: 30px 10px;
		}
		.header {
			padding: 70px 20px;
			color: #fff;
			text-align: center;
			background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(../img/write-hd.jpg);
			h4 {
				font-size: 50px;
				font-weight: 500;
				padding-bottom: 5px;
			}
			p {
				font-size: 25px;
				font-weight: 200;
				padding-bottom: 30px;
			}
			a {
				padding: 15px 20px;
				border: 1px solid @orange-btn;
				background: @orange-btn;
				color: #fff;
				margin-bottom: 40px;
				&:hover {
					border: 1px solid @primary;
					background: @primary;
					transition: ease-in 0.3s;
				}
			}
		}
		.content {
			padding-top: 20px;
			padding-bottom: 20px;
			p {
				font-size: 20px;
			}
		}
		.icon {
			height: 320px;
			@media @mobile {
				height: 60px;
			}
			@media @tablet {
				height: 60px;
			}
			.td {
				font-size: 30px;
				color: @primary;
			}
			background: #fff;
			min-height: 280px;
			padding: 20px;
			border: .8px solid @bordercolor;
			border-radius: 10px;
			text-align: center;
			margin-bottom: 10px;
			.title-text h3 {
				font-size: 17px;
				letter-spacing: 1.5px;
				text-transform: uppercase;
				padding-bottom: 7px;
			}
		}
	}
	.bid-contact {
		padding: 0 40px;
		h4 {
			font-size: 25px;
			text-align: center;
			padding-bottom: 20px;
		}
	}
}

//EPAYMENT PAGES
//-E-PAY ADD
#payment {
	padding: 40px;
	@media @mobile {
		padding: 20px;
	}
	@media @tablet {
		padding: 15px;
	}
	.wrapper {
		background: #fff;
		padding: 20px 20px 10px;
		border-radius: 5px;
		.alert a {
			color: tomato;
		}
		h4 {
			font-size: 35px;
			font-weight: 500;
			text-align: center;
			padding-bottom: 20px;
		}
		li {
			display: block;
			font-size: 18px;
		}
		.choose-plan {
			padding: 10px 0;
			button {
				@media @mobile {
					margin-top: 5px;
				}
			}
		}
	}
}

//FOOTER
footer {
	//min-height: 50px;
	background: @primary;
	padding: 30px;
	.row {
		li {
			font-size: 14px;
			display: inline;
			margin-right: 15px;
		}
		a {
			color: #fff;
			&:hover {
				color: @link-color;
			}
		}
	}
}