//out: ../css/style.css, compress: true
@import url(global.less);
@white: #fff;
body {
	padding: 50px;
}

header {
	padding-top: 10px;
	text-align: center;
	.logo {
		img {
			width: 200px;
		}
	}
	p {
		padding-top: 5px;
	}
}

.updates {
	padding: 10px 30px;
	.bid {
		.thumbnail {
			width: 150px;
			height: 150px;
			background-size: cover!important;
			background-repeat: no-repeat !important;
			@media @mobile {
				background-size: 50%;
			}
		}
		.info {
			padding-bottom: 50px;
			h4 {
				font-size: 25px;
				padding-bottom: 10px;
			}
			.sector {
				font-style: italic;
			}
			p {
				padding-top: 10px;
			}
			a {
				font-size: 14px;
			}
		}
	}
}